<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCr8uF1SGhGjYys9Cl3DvIO54Jj5h8X-4I</string>
	<key>GCM_SENDER_ID</key>
	<string>178525163104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cards</string>
	<key>PROJECT_ID</key>
	<string>cards-b7d21</string>
	<key>STORAGE_BUCKET</key>
	<string>cards-b7d21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178525163104:ios:4eb6eb7c2cec858658bd05</string>
</dict>
</plist>